<!doctype html>
<html lang="en">

<head>
    <title>Làm trang web làm CV</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../../../css/index.css">
    <script src="../../../js/index.jsx"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-12">
                        <img src="../../../image/Screenshot_2.png" alt="Dương">
                        <h1>Nguyễn Văn Dương</h1>
                        <h4>Job:Developer Font-End</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <h1>Thông tin liên hệ tôi</h1>
                        <div id="info">
                            <li>Date of birth:01/09/2001</li>
                            <li>SDT:0338629576</li>
                            <li>Facebook:Nguyễn Văn Dương</li>
                            <li>Zalo:Nguyễn</li>
                            <li>GitHub:duongCute123</li>
                            <li>Quê quán:Thanh Hóa</li>
                            <li>Male</li>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                       <h1>Mô tả bản thân</h1>
                       <div id="object">
                            Tôi hiện vẫn đag còn đi học và chuẩn bị những kiến thúc đầy đủ để
                            trở thành một deverloper Font-End
                       </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                       <h1>Skill</h1>
                       <div id="skill">
                        <h3>Các ngôn ngữ lập trình mà hiện nay tôi biết là</h3>
                        <div id="nn">
                            <h3>Ngôn ngữ</h3>
                            <li>Tiếng Anh</li>
                        </div>
                        <div id="nn">
                            <h3>Ngôn ngữ lập trình biết</h3>
                            <li>CSS</li>
                            <li>HTML</li>
                            <li>JS</li>
                        </div>
                       </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <h1>Sở thích của tôi là</h1>
                        <div id="like">
                            <li>Đá bóng</li>
                            <li>Xem phim anime</li>
                            <li></li>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6" id="hello">
                <div class="row">
                    <h1>Các công việc</h1>
                    <div class="col-sm-12">
                        <h1>Tự làm trang web bán quần áo</h1>
                        <div class="cv-2019">
                            <li>Làm nhà hàng</li>
                            <li>Làm gì đấy</li>
                            <li>Ở nhà phụ</li>
                        </div>
                    </div>
                    <h1>Các công việc tình nguyện đã làm</h1>
                    <div class="col-sm-12">
                        <h4>Công việc tình nguyện hay làm</h4>
                        <div id="cv-tinh">
                            <li>Tham gia ủng hộ người khuyết tật</li>
                            <li>Tham gia mùa hè xanh</li>
                            <li>Tham gia hiến máu tình nguyện</li>
                        </div>
                    </div>
                    <h1>
                        Các dự án đã tham gia trong thời gian học tập trong trường
                    </h1>
                    <div class="col-sm-12">
                        <li>Tham viết trang web bán quần áo</li>
                        <li>Tham gia dữ an lập trình web bán đồng hồ</li>
                        <li>Tham gia lập trình ứng dụng di động</li>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="button" value="Submit" onclick="Hello()">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>